/* Popup */
.BlockRow {
    display: flex;
    flex-direction: row;
}

.BlockColumn {
    display: flex;
    flex-direction: column;
}

.fullscreenPopup {
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fullscreenPopupContent {
  width: 60%;
  /* border: 2px dashed red; */
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.PopupFilterContent {
  width: 500px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.PopupOutGrICWrapper {
  margin-left: 48%;
  margin-right: 50%;
}

.PopupOutGrIC {
  width: 70px;
  height: 70px;
  color: red;
}

.PopupOutGrHeader {
  text-align: center;
  margin-bottom: 10px;
}

.PopupOutGrContent {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.PopupOutGrCancelButton,
.PopupCancelFilter {
  margin-left: auto;
  margin-right: 30px;
  border-radius: 20px;
  background-color: #626262;
  color: white;
  padding: 10px;
  font-size: 16px;
}

.PopupOutGrConfirmButton {
  border-radius: 20px;
  background-color: #ff0000;
  color: white;
  padding: 10px;
  font-size: 16px;
}

/* Popup PrivateGr Question */
/* Popup Styles */
.modalOverlay1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalOverlay {
  width: 100%;
  height: 100%;
  /* transform: translate(-50%, -50%); */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 700px;
  height: 800px;
  max-width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.closeButton {
  margin-left: auto;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.modalBody {
  margin-bottom: 20px;
  padding-right: 20px;
  overflow-y: scroll;
  /* height: 300px; */
}

.modalBody::-webkit-scrollbar {
  width: 10px;
}

.modalBody::-webkit-scrollbar-track {
  background: #cdcdcd; /* Màu nền track */
  border-radius: 10px;
}

.modalBody::-webkit-scrollbar-thumb {
  background: #888; /* Màu thumb */
  border-radius: 5px;
}

.modalBody::-webkit-scrollbar-thumb:hover {
  background: #555; /* Màu thumb khi hover */
}

.modalFooter {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton {
  padding: 10px;
  color: #0866ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cancelButton:hover {
  background-color: #dbdbdb;
}

.submitButton {
  padding: 10px 30px 10px 30px;
  background-color: #0866ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 20px;
}

.question {
  margin-bottom: 20px;
}

.question textarea {
  width: 100%;
  min-height: 100px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.required {
  color: red;
  margin-left: 4px;
}

.pendingNotification {
  padding: 10px;
  background-color: #e3e3e3;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 30px;
}

.quesHeader {
  font-size: 20px;
  font-weight: bold;
}

/* radiobutton */
.radioOption input[type="radio"] {
  width: 20px; /* Kích thước */
  height: 20px;
  border: 2px solid #ccc; /* Viền */
  border-radius: 50%; /* Hình tròn */
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
}

.radioOption input[type="radio"]:hover {
  border-color: #2c2c2c;
}

/* checkboxbutton */
.checkboxOption input[type="checkbox"] {
  width: 20px; /* Kích thước */
  height: 20px;
  border: 2px solid #ccc; /* Viền */
  border-radius: 4px; /* Bo góc */
  outline: none;
  cursor: pointer;
  margin-right: 8px;
  vertical-align: middle;
  position: relative;
}

/* QuesPrivateGrHeader */
.PopupQuesHeader {
  margin-top: 10px;
  margin-bottom: 10px;
}

.PQHGrName {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}